<div class="form-group mb-3 col-md-4">
  <%= cs.label :name, class: "form-label" %>
  <div class="">
    <%= cs.text_field :name, { class: "form-control", placeholder: "Name" } %>
  </div>
</div>

<div class="form-group mb-3 col-md-4">
  <%= cs.label :body, class: "form-label" %>
  <div class="">
    <%= cs.text_area :body, { class: "form-control", placeholder: "Body" } %>
  </div>
</div>

<%= cs.link_to_remove "Remove this Content Stylesheet", class: "btn btn-primary" %>
