<div class="row">
  <div class="col-md-10">
    <h1>Contents</h1>
  </div>
  <div class="col-md-2">
    <%= link_to "New content", new_content_path, class: "btn btn-primary" %>
  </div>
  <hr>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Header</th>
      <th>Footer</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.title %></td>
        <td><%= content.body %></td>
        <td><%= content.header %></td>
        <td><%= content.footer %></td>
        <td><%= link_to "Show", content_path(content) %></td>
        <td><%= link_to "Edit", edit_content_path(content) %></td>
        <td><%= link_to "Destroy", content_path(content), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
