<div class="row">
  <div class="col-md-10">
    <h2>Show Content</h2>
  </div>
  <div class="col-md-2 mt-2">
    <%= link_to "Back", contents_path, class: "btn btn-sm btn-primary"%>
  </div>
  <hr>
</div>

<b>Title:</b><%= @content.title %><br>
<b>Header:</b><%= @content.header %><br>
<b>Body:</b><%= @content.body %><br>
<b>Footer:</b><%= @content.footer %><br>

<% if @content_publishers.present? %>
  <%= render "publishers" %>
<% end %>
