<h3> <%= @content.title %> </h3>

<div class='content-style'>
  <p class="border border-info rounded ml-3 mr-3 pl-1 header"><%= header(@content) %></p>
  <p class="border border-info rounded ml-3 mr-3 pl-1 body"><%= @content.body %></p>
  <p class="border border-info rounded ml-3 mr-3 pl-1 pt footer"><%= footer(@content) %></p>
</div>

<% if @content_publishers.present? && !@current_publisher%>
  <%= render "publishers" %>
<% end %>

<script type="text/javascript">
    var result = {},
      attributes = JSON.parse('<%= @styles.split(';'); %>'.replace(/&quot;/g, '\"'))

    for (var i = 0; i < attributes.length; i++) {
        var entry = attributes[i].split(':');
        result[entry.splice(0,1)[0]] = entry.join(':');
    }
    const note = document.querySelector('.content-style').style.cssText += "<%= @styles %>"
</script>
